Shop\bin
Shop\obj
Shop\.vs
Shop.DataAccess\bin
Shop.DataAccess\obj
Shop.Models\bin
Shop.Models\obj
Shop.Utility\bin
Shop.Utility\obj
Shop_Temp\bin
Shop_Temp\obj
/Shop/.vs
/Shop/bin/Debug
/Shop/obj
/Shop.Models/bin/Debug
/Shop.Models/obj
/Shop.Utility/bin/Debug
/Shop.Utility/obj
/Shop_Temp/bin/Debug/net6.0
/Shop_Temp/obj
